<%- include('header', {title: 'Home' , movie: movie}) %>

    <div class="home-page flex flex-col mx-auto container items-center justify-between min-h-screen w-full px-5">
        <h1 class="text-2xl font-bold underline py-5">All Movies</h1>
        <div class="all-movie w-full flex gap-3 items-center justify-center flex-wrap h-full mb-5">
            <% movie.forEach(movies=> { %>
                <a href="movies/<%=movies._id %>" target="_blank"
                    class="md:w-[235px] md:h-[435px] w-full h-full overflow-hidden mb-10 pb-5">
                    <div class="all-movies content text-center gap-5 flex flex-col">
                        <div class="img h-full w-full md:h-[335px] overflow-hidden">
                            <img src="<%= movies.imgPath %>" alt="<%= movies.title %>"
                                class="md:w-[235px] md:h-[340px] w-full h-full hover:rounded rounded hover:scale-110 transition-transform" />
                        </div>
                        <p>
                            <%= movies.title %>
                        </p>
                        <p class="w-[235px] h-[4.2rem] self-center overflow-hidden">
                            <%= movies.description %>
                        </p>
                        Dynamic Star Rating
                        <% for (let i=0; i < movies.rating; i++) { %>
                            <i class="fa fa-star"></i>
                            <% } %>
                                <!-- Optional: Display empty stars if needed -->
                                <% for (let i=movies.rating; i < 5; i++) { %>
                                    <i class="fa fa-star-o"></i>
                                    <% } %>
                    </div>
                </a>
                <% }); %>
        </div>
        <div class="flex gap-5">
            <%- pagi %>
        </div>
    </div>

    <%- include('footer') %>