<%- include('header', {title: movie.title, movie: movie}) %>

<div class="movie-details min-h-screen mx-auto container w-full p-5">
    <div class="movie-desc flex w-full flex-wrap md:flex-nowrap gap-5">
        <div class="w-full md:w-[35%]">
            <img src="<%= movie.imgPath %>" alt="<%= movie.title %>" class="w-[100%] rounded shadow-lg shadow-gray-950">
        </div>
        <div class="w-full md:w-[65%] flex flex-col gap-5 flex-wrap md:flex-nowrap">
            <h1 class="text-6xl">
                <%= movie.title %>
            </h1>
            <a href="/watch/<%=movie.id %>" class="flex gap-3 bg-gray-700 hover:bg-gray-900 transition-colors p-4 rounded cursor-pointer">
                <i class="fa-solid fa-desktop fa-4x"></i>
                <div class="text-2xl flex flex-col justify-between h-full w-full">
                    <h3>
                        Watch Now
                    </h3>
                    <h4>
                        Go to Episodes List
                    </h4>
                </div>
            </a>
            <div class="desc w-full">
                <%= movie.description %>
            </div>
            <ul class="w-full flex flex-col gap-9">
                <li class="bg-gray-700 items-center p-5 rounded"> <i class="fa fa-character"></i>
                    Original Name: <%= movie.title %>
                </li>
                <li class="bg-gray-700 flex gap-5 items-center p-5 rounded"><i class="fa-solid fa-flag"></i>
                    <p>
                        Country:
                    </p>
                </li>
                <li class="bg-gray-700 flex gap-5 items-center p-5 rounded">
                    <p>
                        Episodes: 
                    </p>
                </li>
                <li class="bg-gray-700 flex gap-5 items-center p-5 rounded"><i class="fa-solid fa-hourglass-end"></i>
                    <p>
                        End in: 
                    </p>
                </li>
                <li class="bg-gray-700 flex gap-5 items-center p-5 rounded"><i class="fa-solid fa-language"></i>
                    <p>
                        Languages: 
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>

<%- include('footer') %>
